YOUR.DOMAIN.NAME {
  reverse_proxy /shadow 127.0.0.1:10001 {
    transport http {
        versions h2c
    }
  }
  reverse_proxy /ray 127.0.0.1:10000 {
    transport http {
        versions h2c
    }
  }
  respond /health-check 200

  log {
    output file /var/log/caddy/access.log {
      rotate_size 10MiB
    }
  }
}